.container {
    width: 1200px;
    margin: auto;
    border: 5px solid black;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

.main {
    display: flex;
    border: 2px solid red;
}

.main_list {
    width: 60%;
    border: 1px solid blue;
}

.userBlock {
    border: 3px solid green;
}